.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 120px 0 120px;

    .content {
        width: var(--page-size);
        display: flex;

        .left {
            width: 588px;
            .record {
                padding: 24px 0 24px 24px;
                display: flex;
                align-items: center;
                border-radius: 16px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                background: #FFF;
                margin-bottom: 16px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 16px;
                    background: var(--theme-color);
                    left: 30px;
                    bottom: -17px;
                }

                &:last-child::after{
                    display: none;
                }
                .icon {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: var(--theme-color);
                }
                .date {
                    color: rgba(0, 0, 0, 0.80);
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px;
                    margin: 0 24px 0 16px;
                }
                .desc {
                    color: rgba(0, 0, 0, 0.60);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }

        .right {
            margin-left: 128px;
            padding: 24px 0 0;
            .title {
                color: rgba(0, 0, 0, 0.80);
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 24px;
            }

            .dateList {
                display: flex;
                li {
                    border-radius: 24px;
                    border: 1px solid #FFF;
                    background: #EFF1F6;
                    padding: 6px 16px;
                    align-items: center;
                    margin-right: 8px;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.60);
                }
                .active {
                    color: var(--theme-color);
                }
            }
        }
    }
}

